.game{
    padding: 10px;
    display: flex;
    flex-direction: column;
    
}
.game li ul li{
    list-style: none;
    margin: 5px;
}
.game li ul li button{
    display: block;
    height: 120px;
    width: 120px;
    background: #f3faca;
    font-size: 30px;
    color: #000;
   
}
.game li ul{
    display: flex;
}

.game > li{
    list-style: none;
    display: flex;
}
